.img{
    display: inline-block;
    border-radius: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
}